body {
	margin: 0;
	padding: 0;
	background: #efeee7;
	font-size: 18px;
	line-height: 150%;
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #333333;
}

h1{
	text-align: center;
	color: #62524F;
	background-color: #ADA19F;
	padding-top: 50px;
	padding-bottom: 50px;
	font-style: italic;
	margin-top: 0;

}


.container{
	width: 1024px;
	margin:0 auto;
	background-color:grey;
	text-align: center;
	border:solid black;
}
#winning,#losing{
	width:50%;
	float: left;
	text-align: center;
	border: solid black;
	border-width: 1px;
	border-top: 0;
	border-left: 0;
	border-right: 0; 
	font-size: x-large;

}
